body {
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;

}

/*navigation section styles*/
.head {
    display: flex;
}

.Span {
    color: #FF5400;
}

.nav-tittle {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.navbar ul {
    display: flex;
}

.navbar a {
    text-decoration: none;
    margin-right: 44px;
    font-size: 18px;
    font-weight: 400;
}

.navbar li {
    list-style-type: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Header {
    width: 80%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    text-align: center;
    /width: 1170px;
    height: 450px;
    border-radius: 20px;
    margin: 100px auto;
    padding-top: 50px;

}

.Head-div {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    margin-top: 40px;
    position: relative;
}

.Head-div p {
    font-size: 16px;
    font-weight: 400;
}

.para {
    height: 24px;
    width: 24px;
    padding: 0 auto;
}

.search-frame {
    background-color: #FF5400;
    color: #FFF
}

.Header-content {
    width: 70%;
    height: 100px;
    display: flex;
    gap: 30px;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
}

.Header-tittle {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;

}

.Header-para {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    margin: 0 auto
}

/*banner section style*/
.banner {
    display: flex;
    gap: 30px;
    jjustify-content: space-evenly;
}

.banner-tittle {
    color: #131318;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 800;

}

.banner-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 577px;

}
.ban-para{
    margin: 0 auto;
    text-align: center;
}

.banner li p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.banner img {
    width: 540px;
    height: 550px;
    wwidth: 100%;
}

.ban-div {
    width: 100%;
    height: 100%;
}

button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;

}

/*main section*/
.main-1 {
    margin: 50px auto;
}

.main-1-div1 {
    margin: 50px auto;
}

.main-tittle {
    text-align: center;
    margin: 0 auto;
}

.main1-para {
    text-align: center;
    margin: 0 auto;
}

.image-1 {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.image-2 {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-3 {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.main-2 {
    margin: 100px auto;
}
.main-2-head{
    margin: 30px auto;
}

.main-2-mother {
    display: flex;
    gap:20px;
    justify-content: center;
}

.cls-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.cls-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    
}

.child {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    margin:50px auto;
}



@media screen and (max-width:600px) {

    .Header-content,
    nav,
    .image-1,
    .image-2,
    .image-3,.main-2-mother{
        flex-direction: column;
        align-items: center;

    }

    .Header-content {
        height: 310px;
        gap: 0px
    }

    nav ul li {
        display: none;
    }

    .Header {
        text-align: center;
        width: 100%;
        height: 500px;
        border-radius: 16px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .Header-tittle{
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .Header-para{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 300px;
        margin: 0 auto
    }

    .Head-div {
        width: 200px;
        height: 40px;
        border-radius: 8px;
        background: #FFF;

    }

    .search-frame {
        background-color: #FF5400;
        color: #FFF
    }

    /*banner section*/
    .banner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .banner img {
        width: 100%;
    }

    .banner-para {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 335px;
        margin: 0 auto;

    }


    .banner-tittle {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;

    }

    .ban-div {
        margin: 0 auto;
    }
    .ban-para{
        text-align: start;
    }
    

    button {
        margin-left: 20px;
    }

    /* main-1 section*/
    .ban-para{
        text-align: start;
        margin-left: 5px;
    }
    .main-1 img {
        width: 100%;
    }

    /*main-2*/
    .cls-1,.cls-2{
        width: 90%;
        height: 100%;
    }
    .child{
        width: 85%;
    }
   






}